[submodule "machines/admin/src/odoo"]
	path = machines/admin/src/odoo
	url = https://github.com/odoo/odoo
	branch = 10.0
[submodule "repos/odoo"]
	path = repos/odoo
	url = https://github.com/odoo/odoo
[submodule "machines/calendar/src/davical"]
	path = machines/calendar/src/davical
	url = https://gitlab.com/davical-project/davical.git
[submodule "machines/calendar/src/awl"]
	path = machines/calendar/src/awl
	url = https://gitlab.com/davical-project/awl.git
[submodule "extra_install/asterisk_customs"]
	path = extra_install/asterisk_customs
	url = git.itewimmer.de:/git/asterisk_customs
