[submodule "machines/admin/src/odoo"]
	path = machines/admin/src/odoo
	url = https://github.com/odoo/odoo
        branch = 10.0

[submodule "/home/marc/odoo/odoo.git"]
	path = /home/marc/odoo/odoo.git
	url = https://github.com/odoo/odoo
