data.backup
config/docker-compose.odoo.yml
config/docker-compose.asterisk.yml
.DS_Store
*.swp
data
dumps
customs.env
support_data
config/docker-compose.yml
restore
vim
docker-compose-custom.yml
*.pem

heine
cpb
run
*.pyc
__pycache__
settings
.Dockerfile
settings.customs
settings.override
*.override.bak
