[submodule "machines/admin/src/odoo"]
	path = machines/admin/src/odoo
	url = https://github.com/odoo/odoo
	branch = 10.0
[submodule "repos/odoo"]
	path = repos/odoo
	url = https://github.com/odoo/odoo
[submodule "machines/calendar/src/davical"]
	path = machines/calendar/src/davical
	url = https://gitlab.com/davical-project/davical.git
[submodule "machines/calendar/src/awl"]
	path = machines/calendar/src/awl
	url = https://gitlab.com/davical-project/awl.git
    branch = master
[submodule "repos/OpenUpgrade"]
	path = repos/OpenUpgrade
	url = https://github.com/OCA/OpenUpgrade.git
[submodule "repos/openupgradelib"]
	path = repos/openupgradelib
	url = https://github.com/OCA/openupgradelib.git
[submodule "extra_install/asterisk_customs"]
	path = extra_install/asterisk_customs
	url = ssh://git@git.clear-consulting.de:50004/odoo/asterisk_customs.git
