CUSTOMS=cpb
DCPREFIX=cpb
DBNAME=cpb
ODOO_VERSION=7.0
HTTP_HOST=cpb.itewimmer.de
BRANCH=deploy
RUN_ASTERISK=0
RUN_MONGO=0

#VPN-Configuration

REMOTE=192.168.1.83
REMOTE_PORT=5566
KEYFOLDERROOT=/root/openvpn-ca
KEYFOLDER=/root/openvpn-ca/keys
KEY_SIZE=1024
CA_EXPIRE=3650
KEY_EXPIRE=3650
KEY_COUNTRY=DE
KEY_PROVINCE=BY
KEY_ORG="CONPOWER GmbH"
KEY_EMAIL=betrieb@conpower.de
KEY_CITY=Planegg
KEY_OU=VPN

#KEY_CN="vpn.conpower.de"

