[Unit]
Description=ODOO
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=__PWD__
ExecStart=./manage.sh up

[Install]
WantedBy=multi-user.target

