# place into ODOO_HOME/data/src/customs/CUSTOMS/machines/perftest.py
def search_products(exe):
    exe("product.product", 'search', [('default_code', 'ilike', 'A0000%')])

def search_tasks(exe):
    exe("project.task", 'search', [('name', 'ilike', '%e%')])
