<?xml version="1.0"?>
<openerp>
  <data>
    <record id="view_ir_actions_report_tree" model="ir.ui.view">
      <field name="model">ir.actions.report</field>
      <field name="priority">1000000</field>
      <field name="arch" type="xml">
        <tree>
          <field name="name"/>
          <field name="test_url" widget="url"/>
        </tree>
      </field>
    </record>
  </data>
  <data noupdate="0">
    <menuitem name="Favorites" parent="" id="root_menu" sequence="-1000" groups="base.group_erp_manager"
    web_icon="fav_shortcuts,static/description/icon.png" />
    
    />
    <menuitem name="Favs" parent="root_menu" id="root_menu2"/>
    <record model="ir.actions.act_window" id="act_reports_window">
      <field name="name">Reports</field>
      <field name="res_model">ir.actions.report</field>
      <field name="view_mode">tree,form</field>
      <field name="view_type">form</field>
    </record>
    <record model="ir.actions.act_window.view" id="act_reports_window_view_tree">
      <field name="view_mode">tree</field>
      <field name="view_id" ref="view_ir_actions_report_tree"/>
      <field name="act_window_id" ref="act_reports_window"/>
      <field name="sequence">1</field>
    </record>
    <menuitem parent="root_menu2" id="reports" action="act_reports_window"/>
    <menuitem parent="root_menu2" id="menuitems" action="base.grant_menu_access"/>
    <menuitem parent="root_menu2" id="asdasdass" action="base.ir_cron_act"/>
    <menuitem parent="root_menu2" id="asdasdassad" action="base.action_res_groups"/>
    <menuitem parent="root_menu2" id="asdmmcmmcmc" action="base.action_view_base_module_update"/>
    <menuitem parent="root_menu2" id="8281232" action="base.open_module_tree"/>
    <menuitem parent="root_menu2" id="1912412" action="base.ir_config_list_action"/>
    <menuitem parent="root_menu2" id="1912413" action="base.action_res_users"/>
    <menuitem parent="root_menu2" id="1912418" action="base.action_rule"/>
    <menuitem parent="root_menu2" id="1912419" action="base.ir_access_act"/>
    <!--
    <menuitem parent="root_menu2" id="1912420" action="mail.action_view_mail_mail" />
    -->
    <menuitem parent="root_menu2" id="1912420422" action="base.action_ui_view"/>
  </data>
</openerp>
