[general]
nat=no
bindaddr=0.0.0.0
;transport=udp
sipdebug=yes
;allowguest=no
;alwaysauthreject=yes
context=fromInternet
disallow=all
allow=alaw
allow=ulaw
directmedia=no
canreinvite=no ;no=immer ueber server
qualify=no
srvlookup=no

; register incoming fw; SERVER MUST MATCH SIPGATE CONFIG BELOW
; Fuer ausgehende Anrufe bei Sipgate registieren
__INCOMING__

[sipconnection](!) ;template
disallow=all
allow=alaw
allow=ulaw
type=peer
dtmfmode=rfc2833
insecure=port,invite
registertimeout=600
context=incoming
canreinvite=no

[sipgate-trunk](!)
host=sipconnect.sipgate.de
domain=sipconnect.sipgate.de
outboundproxy=sipconnect.sipgate.de
fromdomain=sipconnect.sipgate.de

[sipgate-singleuser](!) ; a template
host=proxy.live.sipgate.de
domain=proxy.live.sipgate.de
outboundproxy=proxy.live.sipgate.de
fromdomain=proxy.live.sipgate.de


__OUTGOING__


[user](!)                ; a template
type=friend
host=dynamic
context=internal
secret=1234

__USERS__
