babel
docutils
feedparser
gdata
Jinja2
mako',
mock',
PIL', # windows binary http://www.lfd.uci.edu/~gohlke/pythonlibs/
psutil',  # windows binary code.google.com/p/psutil/downloads/list
psycopg2
pychart',  # not on pypi, use: pip install http://download.gna.org/pychart/PyChart-1.39.tar.gz
pydot',
python-dateutil < 2',
python-ldap',  # optional
python-openid',
pytz',
pywebdav < 0.9.8',
pyyaml',
reportlab',  # windows binary pypi.python.org/pypi/reportlab
simplejson',
unittest2',
vatnumber',
vobject',
werkzeug',
xlwt'
