babel
docutils
feedparser
gdata
Jinja2
mako
mock
psutil
psycopg2
pychart
pydot
python-dateutil==1.5
python-ldap
python-openid
pytz
pywebdav==0.9.7
pyyaml
reportlab
simplejson
unittest2
vatnumber
vobject
werkzeug
xlwt
