unidecode==0.4.20
requests==2.6.0
qrcode==5.3
requests_ntlm==1.0.0
hubarcode==1.0.0
pillow==3.4.2
Weasyprint==0.31
pybarcode==0.7
xlwt==1.1.2
phonenumbers==7.7.5
pydub==0.16.6
arrow==0.10.0
xlsxwriter==0.9.4
xlrd==1.0
BeautifulSoup==3.2.1
swaggerpy==0.2.1
humanize==0.5.1
simplejson==3.10
unittest2==1.1.0
redis==2.10.5
gtts==1.1.6
openpyxl==2.4.1
validate_email==1.3
werkzeug==0.9.4
pymssql==2.1.3
