babel==1.3
docutils
feedparser
gdata
Jinja2
mako
mock
psutil==1.2.1
psycopg2
pychart
pydot
python-dateutil==1.5
python-ldap
python-openid
pytz
pywebdav==0.9.4.1
pyyaml
reportlab
simplejson
unittest2
vatnumber
vobject
werkzeug
xlwt
