# so that ./manage.sh attach {machinename} works: container_name == prefix + service-name
version: '2'
volumes:
  opt_servers:
  opt_permanent:
  libreoffice_exchange:
  cupsdatatoprint:

services:
  odoo_base:
    container_name: ${DCPREFIX}_odoo_base
    build: ../machines/odoo
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - DAC_READ_SEARCH
    volumes:
      - ../support_data/openerp.git:/opt/openerp.git:ro
      - ../support_data/odoo.git:/opt/odoo.git:ro
      - /opt/md5
      #TODO insert customs here
      - /opt/oefiles/:/opt/oefiles
      - cupsdatatoprint:/opt/toprint 
      - ../dumps:/opt/dumps
      - ../run/restore:/opt/restore
      - opt_permanent:/opt/permanent
      - opt_servers:/opt/servers
      - odoosource:/opt/openerp
      - libreoffice_exchange:/opt/libreoffice
    environment:
      ODOO_PROD: 1
      CUPS_TOPRINT: /opt/toprint
      LIBREOFFICE_SEND: /opt/libreoffice/1
      LIBREOFFICE_RECEIVE: /opt/libreoffice/2
    env_file:
      - ../customs.env
      - ../fixed.env
    command: echo 'good by - it is ok!'

  odoo:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo
    ports:
      # debugging with /debug.sh
      - "9000:9000"
    environment:
      DEBUG_PORT_ODOO: 9000
      DEBUG_PORT_ODOO_LONGPOLLING: 9001
      LANG: 'en_US.UTF-8'
      LANGUAGE: 'en_US:en'
    command: /rootrun.sh
      
  odoo_cronjobs:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo_cronjobs
    environment:
      IS_ODOO_CRONJOB: 1
    command: /rootrun.sh

  odoo_update:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo_updater
    # called by manage.sh
    command: echo 'good bye - it is ok!'

