version: '2'
volumes:
  odoosource:

services:
  source_code:
    container_name: ${DCPREFIX}_source_code
    build: ../machines/odoo
    volumes:
      - ../support_data/openerp.git:/opt/openerp.git:ro
      - ../support_data/odoo.git:/opt/odoo.git:ro
      - odoosource:/opt/openerp
    env_file:
      - ../customs.env
    command: /sync_source.sh
