# so that ./manage.sh attach {machinename} works: container_name == prefix + service-name
version: '2'
volumes:
  postgresdata:
  filestorage:
  sourcestorage:
  mailstorage:
  opt_servers:
  opt_permanent:
  cupsdata:
  cupsdatatoprint:

services:
  sslproxy:
    container_name: ${DCPREFIX}_odoo_ssl_proxy
    build: ../machines/sslproxy
    depends_on: 
        - odoo
    ports:
        - "${SSL_PORT}:8068"

    volumes:
        - ../config/sslproxy:/opt/conf
    command: python /opt/src/proxy.py
  
  cups:
    container_name: ${DCPREFIX}_cups
    build: ../machines/cups
    ports:
      - "${CUPS_PORT}:631"
    volumes:
      - cupsdata:/opt/cups_etc 
      - cupsdatatoprint:/opt/toprint 
    environment:
      CUPS_USER_ADMIN: odoo
      CUPS_USER_PASSWORD: odoo!#!881tTQadasdashu28
      WATCHPATH: /opt/toprint

  odoo_cronjobs:
    container_name: ${DCPREFIX}_odoo_cronjobs
    build: ../machines/odoo
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - DAC_READ_SEARCH
    volumes:
      - cupsdata:/opt/cups_etc 
      - cupsdatatoprint:/opt/toprint 
      - ../support_data/openerp.git:/opt/openerp.git:ro
      - ../support_data/odoo.git:/opt/odoo.git:ro
      - /opt/md5
      - ../data/src/customs/${CUSTOMS}:/opt/src/customs/${CUSTOMS}:ro
      - ../data/src/admin:/opt/src/admin:ro
      - sourcestorage:/opt/openerp
      - filestorage:/opt/oefiles
      - ../dumps:/opt/dumps
      - ../restore:/opt/restore
      - opt_permanent:/opt/permanent
      - opt_servers:/opt/servers
    environment:
      IS_ODOO_CRONJOB: 1
      ODOO_PROD: 1
      CUPS_TOPRINT: /opt/toprint
    env_file:
      - ../customs.env
      - ../fixed.env

  odoo:
    container_name: ${DCPREFIX}_odoo
    build: ../machines/odoo
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - DAC_READ_SEARCH
    volumes:
      - cupsdata:/opt/cups_etc 
      - cupsdatatoprint:/opt/toprint 
      - ../support_data/openerp.git:/opt/openerp.git:ro
      - ../support_data/odoo.git:/opt/odoo.git:ro
      - /opt/md5
      - ../data/src/customs/${CUSTOMS}:/opt/src/customs/${CUSTOMS}:ro
      - ../data/src/admin:/opt/src/admin:ro
      - sourcestorage:/opt/openerp
      - filestorage:/opt/oefiles
      - ../dumps:/opt/dumps
      - ../restore:/opt/restore
      - opt_permanent:/opt/permanent
      - opt_servers:/opt/servers
    environment:
      ODOO_PROD: 1
      CUPS_TOPRINT: /opt/toprint
    env_file:
      - ../customs.env
      - ../fixed.env

  postgres:
    container_name: ${DCPREFIX}_postgres
    build: ../machines/postgres
    volumes:
      - ../dumps:/opt/dumps
      - ../restore:/opt/restore
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 1
      PGDATA: /var/lib/postgresql/data/pgdata
    env_file:
      ../customs.env

  nginx:
    container_name: ${DCPREFIX}_nginx
    image: nginx:stable
    depends_on:
      - odoo
    ports:
      - "${ODOO_PORT}:80"
    env_file:
      ../customs.env
    volumes:
      - ../machines/nginx/nginx_${ODOO_VERSION}.conf:/mysite.template
    command: /bin/bash -c "echo 'setting up nginx conf'; cp /mysite.template /etc/nginx/conf.d/default.conf && sed -i "s/__HTTP_HOST__/$HTTP_HOST/g" /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"

  mail:
    container_name: ${DCPREFIX}_mail
    build: ../machines/mail
    volumes:
      - mailstorage:/home/postmaster/Maildir
    ports:
      - "${SMTP_PORT}:25"
      # - "143:143"

  roundcube:
    container_name: ${DCPREFIX}_roundcube
    build: ../machines/roundcube
    depends_on:
      - mail
    ports:
      - "${ROUNDCUBE_PORT}:80"
