# so that ./manage.sh attach {machinename} works: container_name == prefix + service-name
version: '2'
volumes:
  postgresdata:
  mailstorage:
  opt_servers:
  opt_permanent:
  cupsdatatoprint:
  libreoffice_exchange:

services:
  redis:
    image: redis
  sslproxy:
    container_name: ${DCPREFIX}_odoo_ssl_proxy
    build: ../machines/sslproxy
    depends_on: 
        - odoo
    ports:
        - "${SSL_PORT}:8068"

    volumes:
        - ../config/sslproxy:/opt/conf
    command: python /opt/src/proxy.py
  
  cups:
    container_name: ${DCPREFIX}_cups
    build: ../machines/cups
    ports:
      - "${CUPS_PORT}:631"
    volumes:
      - cupsdatatoprint:/opt/toprint 
      - ../data/cups/printed:/opt/printed 
      - ../data/src/customs/${CUSTOMS}/printer_setup:/opt/printer_setup
    env_file:
      - ../customs.env
    environment:
      WATCHPATH: /opt/toprint
      PRINTED_PATH: /opt/printed

  libreoffice:
    container_name: ${DCPREFIX}_libreoffice
    build: ../machines/libreoffice
    environment:
      INPUT: /tmp/lo/1
      OUTPUT: /tmp/lo/2
    volumes:
      - libreoffice_exchange:/tmp/lo

  odoo_base:
    container_name: ${DCPREFIX}_odoo_base
    build: ../machines/odoo
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
      - DAC_READ_SEARCH
    volumes:
      - ../support_data/openerp.git:/opt/openerp.git:ro
      - ../support_data/odoo.git:/opt/odoo.git:ro
      - /opt/md5
      #TODO insert customs here
      - /opt/oefiles/:/opt/oefiles
      - cupsdatatoprint:/opt/toprint 
      - ../data/src/customs/${CUSTOMS}:/opt/src/customs/${CUSTOMS}:ro
      - ../data/src/admin:/opt/src/admin:ro
      - ../dumps:/opt/dumps
      - ../restore:/opt/restore
      - opt_permanent:/opt/permanent
      - opt_servers:/opt/servers
      - /opt/openerp
      - libreoffice_exchange:/opt/libreoffice
    environment:
      ODOO_PROD: 1
      CUPS_TOPRINT: /opt/toprint
      LIBREOFFICE_SEND: /opt/libreoffice/1
      LIBREOFFICE_RECEIVE: /opt/libreoffice/2
    env_file:
      - ../customs.env
      - ../fixed.env
    command: echo 'good by - it is ok!'

  odoo:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo
    ports:
      # debugging with /debug.sh
      - "9000:9000"
    environment:
      DEBUG_PORT_ODOO: 9000
      DEBUG_PORT_ODOO_LONGPOLLING: 9001
      LANG: 'en_US.UTF-8'
      LANGUAGE: 'en_US:en'
    command: /rootrun.sh
      
  odoo_cronjobs:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo_cronjobs
    environment:
      IS_ODOO_CRONJOB: 1
    command: /rootrun.sh

  odoo_update:
    extends: odoo_base
    container_name: ${DCPREFIX}_odoo_updater
    # called by manage.sh
    command: echo 'good bye - it is ok!'

  postgres:
    container_name: ${DCPREFIX}_postgres
    build: ../machines/postgres
    volumes:
      - ../dumps:/opt/dumps
      - ../restore:/opt/restore
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 1
      PGDATA: /var/lib/postgresql/data/pgdata
    env_file:
      ../customs.env

  nginx:
    container_name: ${DCPREFIX}_nginx
    image: nginx:stable
    ports:
      - "${ODOO_PORT}:80"
    env_file:
      ../customs.env
    volumes:
      - ../machines/nginx/nginx_${ODOO_VERSION}.conf:/mysite.template
    command: /bin/bash -c "echo 'setting up nginx conf'; cp /mysite.template /etc/nginx/conf.d/default.conf && sed -i "s/__HTTP_HOST__/$HTTP_HOST/g" /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
