<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style type='text/css'>
        {% include "static/css/uikit.css"%}
    </style>
    <script type='text/javascript'>
        {% include "static/js/uikit.js"%}
        {% include "static/js/uikit-icons.js"%}
    </script>
    <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
        <caption>Tickets/Branches/Projects</caption>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Description</th>
                <th>Last Author</th>
            </tr>
        </thead>
        <tbody>
            {% for link in sites %}
            <tr>
                <td>
                    <a href="/{{link['name']}}/web/login">
                    {{link['name']}}
                    </a>
                </td>
                <td>{{link.get('description')}}</td>
                <td>{{link.get('author')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</html>
