[Unit]
Description=Interface for database operations from mqtt

[Service]
Type=simple
ExecStart=python /opt/asterisk_db_connector/src/app.py

[Install]
WantedBy=multi-user.target
