unidecode
diff-match-patch
PyPDF2
gengo
newrelic
selenium
robotframework
robotframework-pabot==1.1.0
robotframework-seleniumlibrary
robotframework-imaplibrary
robotframework-selenium2screenshots
robotframework-xvfb
robotframework-requests
coverage
elaphe3
Faker
simplejson
erppeek
chardet
pdfminer.six
pyclamd
bleach
redis
pylibdmtx
wand
decorator==4.0.10
flask
pathlib
arrow
pudb
