<?xml version="1.0"?>
<odoo>
  <data noupdate="0">
    <menuitem name="Admin" parent="" id="menu_root"/>
    <record model="ir.actions.server" id="act_update_containers_server">
      <field name="name">update_containers</field>
      <field name="type">ir.actions.server</field>
      <field name="model_id" ref="model_docker_container"/>
      <field name="code">action=model.update_docker()</field>
    </record>
    <menuitem id="menu_containers" parent="menu_root" name="Containers" action="act_update_containers_server"/>
    <record model="ir.actions.server" id="act_update_instances">
      <field name="name">update_instances</field>
      <field name="type">ir.actions.server</field>
      <field name="model_id" ref="model_docker_odoo_instance"/>
      <field name="code">action=model.update_instances()</field>
    </record>
    <menuitem id="menu_instances" parent="menu_root" name="Instances" action="act_update_instances"/>
    <record model="ir.actions.server" id="act_modules">
      <field name="name">start_commander</field>
      <field name="type">ir.actions.server</field>
      <field name="model_id" ref="model_version_commander"/>
      <field name="code">action=model.start_commander()</field>
    </record>
    <menuitem id="menu_modules" parent="menu_root" name="Releases" action="act_modules"/>
  </data>
</odoo>
