<!doctype html>
<html>
    <head>
        <title>CICD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style type='text/css'>
        {% include "static/css/uikit.css"%}
    </style>
    <script type='text/javascript'>
        {% include "static/js/uikit.js"%}
        {% include "static/js/uikit-icons.js"%}
    </script>

    <table>
        <thead>
            <tr>
                Branch
            </tr>
        </thead>
        <tbody>
            {% for branch in sites: %}
            <tr>
                <td>
                    {{branch[0]}}
                </td>
            </tr>
            <tr>
                <td>
                    <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
                        <caption>Tickets/Branches/Projects</caption>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Updated</th>
                                <th>Description</th>
                                <th>Last Author</th>
                                <th>Last Accessed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in branch[1] %}
                            <tr>
                                <td>
                                    <a href="/{{link['name']}}/__start_cicd">
                                    {{link['title']}}
                                    </a>
                                </td>
                                <td>{{link.get('updated') and link.get('updated').strftime(DATE_FORMAT)}}</td>
                                <td>{{link.get('description')}}</td>
                                <td>{{link.get('author')}}</td>
                                <td>{{link.get('last_access') and link.get('last_access').strftime(DATE_FORMAT)}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</html>
